aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
alphalens-reloaded==0.4.1.post1
altair==4.2.0
ansiwrap==0.8.4
anyio==3.5.0
appdirs==1.4.4
arabic-reshaper==2.1.3
argon2-cffi==20.1.0
arviz==0.11.2
astor==0.8.1
asttokens==2.0.5
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==21.2.0
backcall==0.2.0
backports.csv==1.0.7
backports.zoneinfo==0.2.1
Backtesting==0.3.3
backtrader==1.9.76.123
backtrader-plotting==2.0.0
base58==2.1.1
bcrypt==3.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
blessings==1.7
blinker==1.4
bokeh==2.3.3
Brotli==1.0.9
bs4==0.0.1
bt==0.2.9
cachetools==4.2.2
catboost==0.25.1
certifi==2021.10.8
cffi==1.14.5
cftime==1.5.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
colorful==0.5.4
conda-env-export==0.3.2
convertdate==2.4.0
coverage @ file:///C:/ci/coverage_1614615074147/work
cryptography==36.0.1
cssselect==1.1.0
cssselect2==0.4.1
cvxpy==1.1.15
cycler==0.10.0
dask==2021.8.1
DateTime==4.3
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.4
dotted-dict==1.1.3
ecos==2.0.7.post1
eikon==1.1.14
empyrical==0.5.5
empyrical-reloaded==0.5.7
entrypoints==0.3
et-xmlfile==1.1.0
eventemitter==0.2.0
executing==0.8.2
extra-streamlit-components==0.1.53
fake-useragent==0.1.11
fastprogress==1.0.0
feedparser==6.0.8
ffn==0.3.6
filelock==3.0.12
findiff==0.8.9
fonttools==4.29.0
fpdf==1.7.2
fsspec==2021.6.1
future==0.18.2
gitdb==4.0.9
GitPython==3.1.25
google-api-core==1.30.0
google-auth==1.32.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
graphviz==0.16
grpcio==1.38.1
gsheetsdb==0.1.13.1
h11==0.13.0
h2==3.2.0
hide-code==0.6.0
hijri-converter==2.2.2
hiredis==2.0.0
holidays==0.12
hpack==3.0.0
html5lib==1.1
http3==0.6.7
httpcore==0.13.2
httpx==0.18.1
hydralit-components==1.0.9
hyperframe==5.2.0
idna==2.10
imageio==2.9.0
importlib-metadata==4.6.4
ipykernel==5.5.4
ipynb-path==0.1.4
ipython==7.23.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.7.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-server==1.13.4
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kaleido==0.2.1
kiwisolver==1.3.1
korean-lunar-calendar==0.2.1
lazypredict==0.2.5
lightgbm==2.3.1
llvmlite==0.36.0
locket==0.2.1
lxml==4.6.3
markdown2==2.4.0
MarkupSafe==1.1.1
matplotlib==3.2.2
matplotlib-inline==0.1.2
missingno==0.5.0
mistune==0.8.4
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1618854156666/work
mkl-service==2.3.0
mo-dots==4.22.21108
mo-future==3.147.20327
mo-imports==3.149.20327
mo-kwargs==4.22.21108
mo-logs==4.23.21108
modin==0.10.0
more-itertools==8.8.0
moz-sql-parser==4.40.21126
mplfinance==0.12.7a17
mpmath==1.2.1
msgpack==1.0.2
multidict==5.1.0
multitasking==0.0.9
munch==2.5.0
nbclient==0.5.3
nbconvert==6.4.1
nbformat==5.1.3
nest-asyncio==1.5.1
netCDF4==1.5.7
networkx==2.5.1
notebook==6.3.0
notebook-as-pdf==0.5.0
numba==0.53.1
numpy @ file:///C:/ci/numpy_and_numpy_base_1620833114945/work
nvidia-ml-py3==7.352.0
opencensus==0.7.13
opencensus-context==0.1.2
openpyxl==3.0.7
osqp==0.6.2.post0
outcome==1.1.0
packaging==20.9
pandarallel==1.5.2
pandas @ file:///C:/ci/pandas_1618365634936/work
pandas-datareader==0.9.0
pandas-flavor==0.2.0
pandas-ta==0.2.45b0
pandocfilters==1.4.3
papermill==2.3.4
parse==1.19.0
parso==0.8.2
partd==1.2.0
patsy==0.5.1
pbar-parallel==0.0.3
pdfkit==1.0.0
pi==0.1.2
pickleshare==0.7.5
Pillow==8.2.0
plotly==5.5.0
pluggy==0.13.1
progress==1.6
progressbar==2.5
progressist==0.1.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.17.3
psutil==5.8.0
pure-eval==0.2.1
py==1.10.0
py-spy==0.3.7
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pydeck==0.7.1
pydyf==0.1.2
pyee==8.2.2
pyfinance==1.3.0
pyfolio==0.9.2
Pygments==2.9.0
PyJWT==2.3.0
pymc3==3.11.4
PyMeeus==0.5.11
Pympler==1.0.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyphen==0.12.0
pyportfolioopt==1.4.2
pyppeteer==0.2.6
PyPrind==2.11.3
pyquery==1.4.3
pyrsistent==0.17.3
pytest==5.4.3
python-bidi==0.4.2
python-configuration==0.8.2
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-git-info==0.7.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.1.1
pywin32==300
pywinpty==1.0.1
PyYAML==5.3.1
pyzmq==22.0.3
qdldl==0.1.5.post0
qgrid==1.3.1
qtconsole==5.1.0
QtPy==1.9.0
ray==1.4.0
redis==3.5.3
refinitiv-dataplatform==1.0.0a10
reportlab==3.6.6
requests==2.25.1
requests-async==0.6.2
requests-futures==1.0.0
requests-html==0.10.0
retrying==1.3.3
rfc3986==1.5.0
rsa==4.7.2
scikit-image==0.18.1
scikit-learn==0.23.1
scipy==1.5.4
scrapbook==0.5.0
scs==2.1.4
seaborn==0.11.1
selenium==4.1.0
semver==2.13.0
Send2Trash==1.5.0
sgmllib3k==1.0.0
six==1.15.0
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
statsmodels==0.12.2
streamlit==1.5.0
streamlit-authenticator==0.1.1
streamlit-modal==0.0.5
streamlit-tags==1.2.8
swifter==1.0.7
sympy==1.8
TA-Lib @ file:///C:/Users/tclyu/Downloads/TA_Lib-0.4.20-cp38-cp38-win_amd64.whl
tablib==3.2.0
tabulate==0.8.9
tenacity==8.0.1
terminado==0.9.4
testpath==0.4.4
textwrap3==0.9.2
Theano-PyMC==1.1.2
threadpoolctl==2.1.0
tifffile==2021.6.14
tinycss2==1.1.1
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.60.0
traitlets==5.1.1
trendln==0.1.10
trio==0.19.0
trio-websocket==0.9.2
typing-extensions==3.10.0.0
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.4
validators==0.18.2
voila==0.2.16
voila-gridstack==0.2.0
w3lib==1.22.0
watchdog==2.1.6
wcwidth==0.2.5
weasyprint==54.0
webencodings==0.5.1
websocket-client==1.2.1
websockets==9.1
widgetsnbextension==3.5.1
wincertstore==0.2
wkhtmltopdf==0.2
wsproto==1.0.0
xarray==0.18.2
xgboost==1.1.1
xhtml2pdf==0.2.5
xlrd==1.2.0
xmltodict==0.12.0
yahoo-fin==0.8.9.1
yahoofinancials==1.6
yahooquery==2.2.15
yappi==1.3.3
yarl==1.6.3
yfinance==0.1.63
zipp==3.5.0
zope.interface==5.4.0
zopfli==0.1.9
